@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    width: 100%;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
}
.shadow{
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.456);
    z-index: 2;
    display: none;
}
::-webkit-scrollbar{
    width: .5rem;
}
::-webkit-scrollbar-thumb{
    border-radius: 50px;
    background-color: lightgrey;
}
img{
    border-radius: .5rem;
}
header{
    height: 100vh;
    width: 100%;
    background-image: url('/assets/ofc_building.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
}
header .top-bar{
    /* border: .1rem solid yellow; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
}
header .title{
    display: flex;
    width: fit-content;
    align-items: center;
    gap: .5rem;
}
header .title img{
    height: 2rem;
    width: 2rem;
}
header .title h1{
    font-size: 1.25rem;
    color: #ffffff;
    font-weight: 500;
}
header nav{
    height: fit-content;
    /* background-color: green; */
    padding: 0 2.5rem;
}
header nav ul{
    display: flex;
    gap: 2.5rem;
    height: fit-content;
}
header nav ul li,header nav ul a{
    color: #ffffff;
    font-size: 1rem;
    list-style: none;
    cursor: pointer;
    text-decoration: none;
}
header nav ul li:hover,header nav ul a:hover{
    color: #0ce600;
}
header h1.welcome{
    color: #ffffff;
    font-size: 3rem;
    /* background-color: green; */
    width: fit-content;
    margin: auto 2.5rem;
}
header h1.welcome span:first-child{
    color: #0ce600;
}
header h1.welcome span:last-child{
    font-size: 2.5rem;
}
header h1.welcome span{
    opacity: 0;
    animation: welcome-text-animation calc(var(--i) * 500ms) linear forwards 1;
}
@keyframes welcome-text-animation {
    From{
        opacity: 0;
    }
    To{
        opacity: 1;
    }
}
.hamburger{
    display: none;
}
main{
    padding: 0 2.5rem;
}
section{
    width: 100%;
    padding: 2.5rem 0;
}
section h2{
    font-size: 1.5rem;
}
section p{
    font-size: 1rem;
    text-align: justify;
}
section.who-we-are{
    display: flex;
    gap: 2.5rem;
    align-items: center;
    /* background-color: green; */
}
/* section.who-we-are .details{
    
}
section.who-we-are h2{
    
}
section.who-we-are p{
    
} */
section.who-we-are img{
    width: 20rem;
}
section.about-us{
    /* background-color: green; */
    display: grid;
    gap: 2.5rem;
    align-items: center;
    /* grid-template-columns: minmax(325px,1fr) minmax(325px,1fr); */
    grid-template-columns: repeat(auto-fit,minmax(325px,1fr));
    /* align-items: center; */
    width: 100%;
}
section.about-us .left-side{
    width: fit-content;
}
section.about-us .right-side p{
    width: fit-content;
    margin: 1rem 0;
}
button{
    padding: .65rem 2rem;
    color: #ffffff;
    border-radius: 50px;
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    cursor: pointer;
    text-wrap: nowrap;
    background-color: #006266;
    font-size: 1rem;
    margin: 1rem 0;
    width: 10rem;
}
button:active{
    box-shadow: none;
}
section.careers{
    display: flex;
    flex-direction: column;
}
section.careers h2{
    text-align: center;
}
section.careers p{
    width: 80%;
    /* min-width: 55rem; */
    text-align: center;
    align-self: center;
}
.jobs .job-tile{
    border-radius: .5rem;
    overflow: hidden;
}
.jobs table{
    border-collapse: collapse;
    font-size: 1rem;
    color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.jobs table th{
    padding: .1rem 1rem;
    text-align: left;
    font-weight: 500;
    width: fit-content;
}
.jobs table td{
    padding: .5rem 1rem;
}
.jobs table caption{
    font-size: 1.5rem;
    font-weight: 700;
    text-align: left;
    padding: .5rem 1rem;
    color: #ffffff;
    border-radius: .5rem;
    margin: .1rem 0;
}

.jobs .job-tile:nth-child(1),.jobs .job-tile:nth-child(1) caption{
    background-color: #e84118;
}
.jobs .job-tile:nth-child(2),.jobs .job-tile:nth-child(2) caption{
    background-color: #006266;
}
.jobs .job-tile:nth-child(3), .jobs .job-tile:nth-child(3) caption{
    background-color: #3c6382;
}
.jobs{
    height: fit-content;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(219.5px,1fr));
    gap: 1rem;
    margin-top: 2.5rem;
}
section.careers button{
    margin: 0 auto;
    margin-top: 2rem;
    background-color: lightgrey;
    color: #000000;
    font-weight: 600;
}
/* section.services{

}
section.services h2{

} */
section.services .service-container{
    display: grid;
    /* grid-template-columns: minmax(15rem,1fr) minmax(15rem,1fr); */
    grid-template-columns: repeat(auto-fit,minmax(338px,1fr));
    gap: 2.5rem;
    /* background-color: green; */
    /* padding: 2.5rem 0; */
    margin-top: 1rem;
}
section.services .service-container .service{
    display: flex;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    align-items: center;
    padding: 2rem;
    border-radius: .5rem;
    gap: 1rem;
}
section.services .service-container .service img{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    margin: 0 1rem;
}
section.services .service-container .service p{
    text-align: left;
}
section.services .service-container .service button{
    margin-top: 1rem;
    margin-bottom: 0;
    background-color: lightgrey;
    color: #000000;
    font-weight: 600;
}
/* section.services .service-container .service .service-details{
    
} */
 .query-form{
    position: relative;
 }
.query-form form{
    width: 100%;
    display: flex;
    flex-direction: column;
}
form .name,form .contact-details{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
form .input,form .text-area-input{
    height: fit-content;
    width: 48%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.5rem 0;
}
form .text-area-input{
    width: 100%;
    margin: 2rem 0;
}
form input,form textarea{
    height: 2.5rem;
    width: 100%;
    padding: 0 .5rem;
    border: none;
    outline: none;
    font-size: 1rem;
    border-bottom: .1rem solid rgb(197, 197, 197);
    background-color: transparent;
}
form textarea{
    resize: none;
    height: 5rem;
}
form label{
    font-size: 1rem;
    position: absolute;
    bottom: .5rem;
    left: .5rem;
    transition: 500ms;
    pointer-events: none;
}
form .line{
    height: .1rem;
    width: 0%;
    background-color: #006266;
    position: absolute;
    bottom: 0;
    transition: 500ms;
}
input:valid ~ label,input:focus ~ label{
    bottom: 2.25rem;
}
input:focus ~ .line, input:valid ~ .line{
    width: 100%;
}
textarea:valid ~ label, textarea:focus ~ label{
    bottom: 5.25rem;
}
textarea:valid ~ .line, textarea:focus ~ .line{
    width: 100%;
}
textarea::-webkit-scrollbar{
    width: .25rem;
    background-color: rgb(219, 219, 219);
}
textarea::-webkit-scrollbar-thumb{
    background-color: rgb(149, 149, 149);
    border-radius: 50px;
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button{
    -webkit-appearance: none;
}
#response-message{
    color: #008500;
    font-size: 1rem;
    font-weight: 600;
    position: absolute;
    right: 1rem;
    top: 1rem;
    visibility: hidden;
}
.query-form button p{
    display: block;
}
.query-form button{
    display: grid;
    place-content: center;
}
.query-form svg{
    height: .85rem;
    width: .85rem;
    display: inline-flex;
    border-radius: 50px;
    margin: 0;
    display: none;
}
.query-form circle{
    fill: none;
    stroke-width: 10;
    stroke: white;
    stroke-dasharray: 220;
    stroke-dashoffset: 60;
    stroke-linecap: round;
    transform-origin: center;
    animation: rotate 1s linear infinite;
}
@keyframes rotate {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}
.site-informations{
    height: fit-content;
    width: 100%;
    /* margin-top: auto; */
    background-color: #006266;
    display: flex;
    flex-direction: column;
    position: relative;
    color: white;
}
.org-name img{
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
}
.org-name p{
    font-size: 1rem;
    margin: 0 .25rem;
    text-transform: uppercase;
    font-weight: 600;
}
.org-name{
    display: flex;
    align-items: center;
    margin: 1rem auto;
}
.simple-para{
    width: 80%;
    /* margin: 0 auto; */
    text-align: justify;
}
.simple-para p{
    font-size: 1rem;
}
.copyright{
    margin: 0 auto;
    margin-bottom: .5rem;
    width: fit-content;
}
.copyright p{
    font-size: .85rem;
}
.copyright span{
    font-size: 1rem;
    margin: 0 .25rem;
    font-weight: 600;
}
.author{
    font-size: .65rem;
    display: inline-block;
    width: fit-content;
    height: fit-content;
    position: absolute;
    right: 1rem;
    bottom: .25rem;
    text-align: center;
}
.social-medias{
    height: fit-content;
    width: 9rem;
    flex-wrap: wrap;
    display: flex;
    margin: 0 auto;
}
.social-medias img{
    height: 2rem;
    width: 2rem;
    margin: .25rem .5rem;
    cursor: pointer;
    border-radius: 50%;
    -webkit-tap-highlight-color: transparent;
}
.para-and-social-media{
    display: flex;
    width: 80%;
    margin: 0 auto;
}

@media screen and (max-width:1120px){
    header h1.welcome{
        font-size: 2.75rem;
    }
    header h1.welcome span:last-child{
        font-size: 2.25rem;
    }
    section h2,.jobs table caption,.query-form h1{
        font-size: 1.25rem;
    }
    header .title h1{
        font-size: 1rem;
    }
    section p,button,.simple-para p,.jobs table,header nav ul li,header nav ul a,form label,.org-name p{
        font-size: .75rem;
    }
    .copyright p{
        font-size: .85rem;
    }
    section.services .service-container .service img{
        height: 3.5rem;
        width: 3.5rem;
    }
    section.services .service-container{
        gap: 1rem;
    }
    form input,form textarea{
        font-size: .75rem;
        height: 2.25rem;
    }
    form textarea{
        height: 4.5rem;
    }
    .copyright p{
        font-size: .6rem;
    }
    .copyright span{
        font-size: .75rem;
    }
    .author{
        font-size: .4rem;
    }
    form .text-area-input{
        margin: 2rem 0;
    }
    form .input{
        margin: 1.25rem 0;
    }
    .social-medias{
        margin-left: 1rem;
        width: 8rem;
    }
    .social-medias img{
        height: 1.5rem;
        width: 1.5rem;
    }
    .org-name{
        margin: .75rem auto;
    }
    #response-message{
        font-size: .75rem;
    }
}
@media screen and (min-width:1170px) {
    section.services .service-container{
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (max-width:779px) {
    main{
        padding: 0 1.5rem;
    }
    section.who-we-are{
        flex-direction: column;
    }
    section.who-we-are img{
        width: 100%;
    }
    header h1.welcome{
        font-size: 2rem;
        margin: auto 1.5rem;
    }
    header h1.welcome span:last-child{
        font-size: 1.5rem;
    }
    header nav{
        position: fixed;
        height: 100vh;
        right: 0;
        top: 0;
        background-color: #006366b8;
        padding: 0;
        backdrop-filter: blur(2.5px);
        z-index: 10;
        right: -15rem;
        transition: 250ms;
    }
    .show-nav-bar{
        right: 0;
    }
    header nav ul{
        flex-direction: column;
        gap: 0;
        margin-top: 3rem;
    }
    header nav ul li,header nav ul a{
        font-size: .85rem;
        /* background-color: green; */
        width: 15rem;
        padding: .65rem 0;
        text-align: center;
    }
    header nav ul li:hover,header nav ul a:hover{
        background-image: linear-gradient(#00c1aa7f,#0063667d);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        backdrop-filter: blur(10px);
    }
    section.careers p{
        width: 100%;
    }
    form .name,form .contact-details{
        flex-direction: column;
    }
    form .input,form .text-area-input{
        width: 100%;
    }
    .para-and-social-media{
        flex-direction: column;
        width: 90%;
    }
    .social-medias{
        width: fit-content;
        margin: 0 auto;
        margin-top: .5rem;
    }
    .simple-para{
        width: 100%;
    }
    .hamburger{
        height: 2rem;
        width: 2rem;
        color: #ffffff;
        display: grid;
        place-content: center;
        position: absolute;
        top: 1rem;
        right: 1rem;
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
    }
    .hamburger span{
        font-size: 2rem;
    }
    .query-form form button{
        margin: 0 auto;
    }
    .jobs{
        grid-template-columns: 100%;
    }
    section.services .service-container{
        grid-template-columns: 100%;
    }
    section.careers p{
        text-align: justify;
    }
    .show-shadow{
        display: flex;
    }
}
@media screen and (max-width:425px){
    section.services .service-container .service{
        flex-direction: column;
        padding: 1rem;
    }
    section.services .service-container .service img{
        height: 5rem;
        width: 5rem;
    }
    section.services .service-container .service .service-details{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    section.services .service-container .service .service-details p{
        text-align: center;
    }
    header h1.welcome{
        font-size: 1.25rem;
    }
    header h1.welcome span:last-child{
        font-size: .75rem;
    }
    section.about-us{
        grid-template-columns: 100%;
    }
    .site-informations{
        padding-bottom: 1.5rem;
    }
}