@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    width: 100%;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
    background-color: rgb(239, 247, 255);
}
::-webkit-scrollbar{
    width: .5rem;
}
::-webkit-scrollbar-thumb{
    border-radius: 50px;
    background-color: lightgrey;
}
header{
    /* height: 25rem; */
    height: fit-content;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
header .background-style{
    height: 8rem;
    background-image: url('../assets/16829080_5741168.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}
figure.profile-picture{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    border: .2rem solid white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    top: 1.5rem;
    left: 2.5rem;
    z-index: 5;
}
figure.profile-picture .control-buttons{
    background-color: #00000074;
    display: flex;
    width: 100%;
    height: 3rem;
    gap: 1rem;
    position: absolute;
    bottom: -3.5rem;
    left: 0;
    align-items: center;
    justify-content: center;
    transition: 250ms;
    user-select: none;
}
figure.profile-picture .control-buttons img{
    height: 1.5rem;
    width: 1.5rem;
    cursor: pointer;
    opacity: .7;
}
header .background-style canvas{
    height: 9.6rem;
    width: 9.6rem;
    border-radius: 50%;
    background-color: grey;
}
figure.profile-picture canvas:hover ~ .control-buttons,
figure.profile-picture canvas ~ .control-buttons:hover{
    bottom: 0;
}

.navigation{
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    z-index: 10;
}

.background-style img.settings{
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    transition: 250ms;
    align-self: flex-end;
    margin-bottom: .5rem;
}
.rotate-settings-icon{
    transform: rotate(90deg);
}
nav{
    border-radius: .5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    height: 0;
    width: 0;
    transition: 250ms;
    background-color: #ffffff;
}
.show-navbar{
    height: 10rem;
    width: 15rem;
}
/* nav ul{
    padding: 1rem;
} */
nav ul li{
    list-style: none;
    padding: .5rem 1rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    white-space: nowrap;
}
nav ul li:last-child{
    color: red;
}
nav ul li:hover{
    background-color: rgb(237, 237, 237);
}
nav ul li img{
    height: 1.5rem;
    width: 1.5rem;
    margin-top: .4rem;
}

section.user-details{
    /* background-color: green; */
    margin-top: 2rem;
    padding: 2rem 2.5rem;
    display: flex;
    align-items: center;
    gap: 2.5rem;
    position: relative;
}
section.user-details .basic-info{
    /* background-color: pink; */
    display: inline-block;
}
section.user-details .basic-info abbr{
    text-decoration: none;
}
section.user-details .basic-info h1{
    font-size: 2rem;
    /* background-color: green; */
    width: 100%;
    max-width: 30rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
section.user-details .basic-info h2{
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: .35rem;
    color: #575757;
}
section.user-details .basic-info p{
    font-size: 1rem;
    color: #575757;
}

section.user-details .contact{
    /* background-color: skyblue; */
    display: inline-flex;
    flex-direction: column;
    gap: .5rem;
}
section.user-details .contact p{
    font-size: 1rem;
    display: flex;
    align-items: center;
    margin: .25rem 0;
    /* background-color: yellow; */
    gap: .5rem;
    color: #575757;
}
section.user-details p img{
    height: 1.5rem;
    width: 1.5rem;
}
.profile-completeness-percentage{
    /* background-color: yellow; */
    display: inline-flex;
    border-radius: 50%;
}
.profile-completeness-percentage svg{
    height: 7rem;
    width: 7rem;
}
.profile-completeness-percentage svg circle{
    fill: none;
    stroke: #006266;
    stroke-width: .35rem;
    stroke-linecap: round;
    stroke-dasharray: 314.7;
    stroke-dashoffset: 0;
    transform: rotate(-90deg);
    transform-origin: center;
}
.profile-completeness-percentage svg text{
    fill: grey;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    font-size: .7rem;
}

main{
    padding: 2rem;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr 1fr;
}

main section{
    position: relative;
}

main section img.edit-button,section.user-details img.edit-button{
    height: 2.5rem;
    width: 2.5rem;
    position: absolute;
    right: 1.5rem;
    border-radius: 50px;
    padding: .5rem;
    cursor: pointer;
}
main section img.edit-button{
    top: 1.5rem;
}
section.user-details img.edit-button{
    bottom: 1.5rem;
}
main section img.edit-button:hover,section.user-details img.edit-button:hover{
    background-color: #eaeaea;
}
main section img.edit-button:active,section.user-details img.edit-button:active{
    background-color: #dedede;
}

main section h2,.edit-personal-info h2,.change-password-field h2,.delete-account-field h2{
    font-size: 1.5rem;
    margin: 1rem 0;
}

section.apply,.edit-personal-info,.change-password-field,.delete-account-field{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: .5rem;
    grid-column: span 2;
}
form p.warn{
    color: red;
    font-size: 1rem;
    font-weight: 500;
    text-align: right;
    visibility: hidden;
}
section.apply input,select,.edit-personal-info input,.change-password-field input,.delete-account-field input{
    height: 2.5rem;
    width: 100%;
    font-size: 1rem;
    padding: 0 1rem;
    border-radius: .25rem;
    border: .1rem solid #c3c3c3;
    outline-color: rgb(120, 176, 255);
}
section.apply input::placeholder,.edit-personal-info input::placeholder,.change-password-field input::placeholder,.delete-account-field input::placeholder{
    text-transform: capitalize;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button{
    -webkit-appearance: none;
    appearance: none;
}
input:focus,select:focus,option{
    background-color: #dedede;
}
section.apply form label,.edit-personal-info form label,.change-password-field form label,.delete-account-field form label{
    font-size: 1rem;
    color: black;
    font-weight: 500;
    display: block;
    margin: .5rem 0;
    margin-top: 0;
}
section.apply form span,.edit-personal-info form span,.change-password-field form span,.delete-account-field form span{
    color: red;
    font-size: 1.25rem;
}
button{
    padding: .5rem 1rem;
    border-radius: .5rem;
    width: 8rem;
    min-width: fit-content;
    border: none;
    background-color: #006266;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    margin: .5rem 0;
    -webkit-tap-highlight-color: transparent;
    float: right;
}
button:active{
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
/* section.response-message{
    width: calc(100% - 7rem);
    background-color: #ffffff;
    text-align: center;
    padding: 1rem 1rem;
    border-radius: .25rem;
    color: #008500;
    font-weight: 500;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: fixed;
    left: 3.5rem;
    top: -5.5rem;
    transition: 250ms;
} */

main section{
    /* width: 45rem; */
    background-color: #ffffff;
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: .5rem;
}
main section h2{
    margin-top: 0;
}
main section button{
    display: none;
}
main section.apply button{
    display: block;
}
.display-save-button{
    display: block;
}
table{
    width: 100%;
    color: #595959;
    font-size: 1rem;
}
/* table tr{
    
} */
table th{
    /* border: .1rem solid red; */
    /* padding: 0 .5rem; */
    padding-right: .5rem;
    text-align: start;
    /* font-size: 1rem; */
    font-weight: 600;
    border-radius: .25rem;
    width: 12.5rem;
}
table td{
    /* background-color: green; */
    /* border: .1rem solid red; */
    padding: .5rem 0;
    height: 2.5rem;
    border-radius: .25rem;
}
table td p{
    padding: 0 .5rem;
}
table input, table select{
    height: 2.5rem;
    width: 100%;
    min-width: 15rem;
    font-size: 1rem;
    padding: 0 .5rem;
    outline: none;
    border: none;
    border-radius: .25rem;
    transition: 250ms;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    background-color: rgb(245, 245, 245);
}
input[type="date"]::-webkit-calendar-picker-indicator{
    display: none;
}
table select{
    appearance: none;
}
table input:disabled, table select:disabled{
    color: #000000;
    font-weight: 500;
    box-shadow: none;
    background-color: #ffffff;
    opacity: .7;
}
.edit-personal-info,.change-password-field,.delete-account-field{
    position: fixed;
    top: -95vh;
    right: 1rem;
    width: 45rem;
    max-height: 95vh;
    overflow-y: auto;
    padding: 1.5rem;
    transition: 250ms;
    z-index: 10;
}
.change-password-field,.delete-account-field{
    top: -25rem;
}
.display-edit-field{
    top: 1rem;
}
.edit-personal-info h2,.change-password-field h2,.delete-account-field h2{
    margin-top: 0;
}
.edit-personal-info .buttons,.change-password-field .buttons,.delete-account-field .buttons{
    display: flex;
    width: fit-content;
    float: right;
    gap: 1rem;
}
.edit-personal-info .buttons button:first-child,.change-password-field .buttons button:first-child,.delete-account-field .buttons button:first-child{
    background-color: #dc0000;
}
section.application-status{
    grid-column: span 2;
}
section.application-status p{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: .25rem;
    padding: .5rem 1rem;
    font-size: 1rem;
}
.response-field{
    position: fixed;
    top: -5rem;
    right: 1rem;
    background-color: #ffffff;
    z-index: 20;
    padding: 1rem 2rem;
    border-radius: .5rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    transition: 250ms;
    font-size: 1.25rem;
}
.loader{
    height: 100vh;
    width: 100vw;
    background-color: #00000079;
    position: fixed;
    left: 0;
    top: 0;
    display: grid;
    place-content: center;
    z-index: 15;
}
.loader svg{
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    animation: rotate 2s linear infinite;
}
.loader svg circle{
    fill: none;
    stroke: #ffffff;
    stroke-width: .4rem;
    stroke-dasharray: 251.76;
    stroke-dashoffset: 50;
    stroke-linecap: round;
}
@keyframes rotate {
    From{transform: rotate(0deg);}
    To{transform: rotate(360deg);}
}

/* main,header{
    display: none;
} */

@media screen and (max-width:1120px) {
    nav ul li,section.user-details .basic-info p,section.user-details .contact p,form p.warn,section.apply input,.edit-personal-info input,select,section.apply form label,.edit-personal-info form label,button,table,table input, table select,.change-password-field input,.change-password-field form label,.delete-account-field input,.delete-account-field form label{
        font-size: .75rem;
    }
    section.user-details .basic-info h1{
        font-size: 1.75rem;
    }
    section.user-details .basic-info h2,section.apply form span,.edit-personal-info form span,.change-password-field form span,.delete-account-field form span{
        font-size: 1rem;
    }
    main section h2,.change-password-field h2,.delete-account-field h2{
        font-size: 1.25rem;
    }
    .profile-completeness-percentage svg text{
        font-size: .6rem;
    }
    table th{
        width: 8rem;
    }
    table input, table select{
        /* width: 10rem; */
        min-width: 12.5rem;
    }
    main section img.edit-button{
        top: .5rem;
        right: .5rem;
    }
    section.application-status .status{
        grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
    }
    section.application-status p{
        font-size: .75rem;
        text-align: center;
    }
    section.application-status span{
        font-size: 2rem;
    }
    .response-field{
        font-size: 1rem;
    }
    .show-navbar{
        width: 12rem;
        height: 9.65rem;
    }
    button{
        width: 6rem;
    }
}

@media screen and (max-width:870px){
    main section{
        grid-column: span 2;
    }
}

@media screen and (max-width:769px){
    main{
        padding: 1.5rem;
    }
    section.user-details{
        flex-direction: column;
        text-align: center;
        gap: 1rem;
    }
    section.user-details .contact{
        width: fit-content;
        /* background-color: green; */
        align-items: center;
    }
    figure.profile-picture{
        left: calc(50% - 5rem);
    }
    table input, table select{
        min-width: 8rem;
    }
    main section,section.apply,.edit-personal-info,.change-password-field,.delete-account-field{
        padding: 1.5rem;
    }
    .edit-personal-info,.change-password-field,.delete-account-field{
        width: 95%;
        text-align: start;
    }
}
@media screen and (max-width:426px){
    main{
        padding: 1rem .5rem;
    }
    section.application-status h2{
        margin-bottom: .5rem;
    }
    main section h2{
        margin: 0;
    }
    .edit-personal-info,.change-password-field,.delete-account-field{
        right: .5rem;
    }
}